
.products-container {
  width: 100%;
  background-color: #fff;
  position: absolute;
  height: 70vh;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  

  .productsitems {
    width: 100%;
    padding: 20px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .suggestions {
    width: 100%;
    padding: 20px 30px;
    color: #040a2b;

    .suggestionstext {
      font-size: 24px;
      font-weight: bold;

      .suggestionslink {
        margin: 0 10px;
        font-size: 22px;
        font-weight: normal;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}

