

.product-container {
  width: 100%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  flex: 0 0 calc(100% - 40px);
  text-align: center;

  @media only screen and (min-width: 991px) {
    flex: 0 0 calc(33.333% - 40px);
  }

  @media only screen and (min-width: 764px) {
    flex: 0 0 calc(50% - 40px);
  }

  .productimg {
    width: 100;
    height: 200px;
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 25px 0;
    cursor: pointer;
  }

  .producttitle {
    cursor: pointer;
    color: #040a2b;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0px;
  }

  .productdescription {
    margin: 5px 0; 
    color: #040a2b;
    font-size: 16px;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2; 
    -webkit-box-orient: vertical;
  }
  
}