section#viewproduct {

  position: absolute;
  width: 100%;
  height: 100%;
  top: 0; left: 0;
  padding: 100px 0px 0;
  background-size: cover;
  background-repeat: no-repeat;

  div.content {
      max-width: $siteWidth;
      margin: 0 auto;
      color: #040a2b;
  }
}


.viewproduct-container {
  width: calc(100% - 40px);
  display: flex;
  align-items: center;
  margin: 50px 20px;
  flex-direction: column;

  @media only screen and (min-width: 991px) {
    flex-direction: row;
  }

  .viewproductimg {
    flex: 0 0 100%;
    width: 100%;
    display: flex;
    justify-content: center;

    @media only screen and (min-width: 991px) {
      flex: 0 0 40%;
    }
  }

  .viewproductinfo {
    flex: 0 0 100%;
    width: 100%;
    justify-content: center;

    @media only screen and (min-width: 991px) {
      flex: 0 0 60%;
    }

    .viewproducttitle {
      font-size: 30px;
      margin-bottom: 30px;
      text-align: center;
      margin-top: 20px;

      @media only screen and (min-width: 991px) {
        margin-top: 0px;
        text-align: left;
      }
    }


    .viewproductdescription {
      font-size: 20px;
      text-align: justify;
      margin-bottom: 50px;
    }

    .viewproductprice {
      font-size: 40px;
      font-weight: bold;
      text-align: center;

      @media only screen and (min-width: 991px) {
        text-align: left;
      }
    }
  }
}